.wallet-badge-container {
	display: flex;
	align-items: center;
    justify-content: space-between;
	gap: 12px;
	cursor: pointer;
    padding: 0 12px;
}

.site-logo {
    width: 100px;
    height: 100px;
	object-fit: contain;
}

.wallet-badge {
	display: flex;
	align-items: center;
	background-color: #f2f2f2;
	padding: 8px 12px;
	border-radius: 12px;
	gap: 8px;
	font-weight: 500;
	color: #333;
}

.wallet-text {
	font-family: monospace;
}

.eth-icon {
	font-size: 1.2rem;
	color: #5a5a5a;
}
